@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
:root {
  --yellow: #f9a826;
  --red: #ea8282;
  --green: #60bf88;
  --blue: #6066d0;
  --darkBlue: #1d355d;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
}
html {
  height: 100%;
}
body {
  min-width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  background-image: url("./assets/background.png");
  display: flex;
  justify-content: center;
}
.get-started-container,
.quiz-container {
  min-width: 435px;
  height: 550px;
  margin-top: 100px;
}
.get-started,
.quiz {
  min-width: 100%;
  height: 100%;
  position: relative;
  /*  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*  */
  border: none;
  border-radius: 5px;
  background-color: white;
}
/*  */
.start-title {
  position: absolute;
  top: 10%;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 54px;
  text-transform: uppercase;
  color: var(--darkBlue);
}
.travel-img {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 20%;
}
.travel-img-link {
  width: 100%;
  height: 100%;
}

.start-btn {
  position: absolute;
  top: 77%;
  padding: 12px 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border: none;
  border-radius: 5px;
  transition-duration: 0.4s;
  text-transform: capitalize;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--red);
  color: var(--red);
}

@media (hover: hover) and (pointer: fine) {
  .start-btn:hover {
    color: white;
    background-color: var(--red);
  }
}
/*  */

.quiz-header {
  min-width: 100%;
  position: absolute;
  top: -12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.quiz-icon {
  width: 150px;
  height: 150px;
}
.quiz-icon-link {
  width: 100%;
  height: 100%;
}

.quiz-form {
  min-width: 100%;
  height: 400px;
  overflow-y: scroll;
  position: absolute;
  top: 17%;
  padding: 0 20px 0 20px;
}
.flag {
  width: 84px;
  height: 54px;
  margin-bottom: 10px;
}
.question {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1rem;
  color: var(--darkBlue);
}
.options {
  min-width: 100%;
  margin-top: 5%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
}
.option-item {
  display: flex;
  flex-direction: row;
  padding: 16px 20px;
  text-align: left;
  font-size: 16px;
  margin: 8px 0;
  transition-duration: 0.4s;
  text-transform: capitalize;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  border: 0.1rem solid var(--blue);
  background-color: transparent;
  color: var(--blue);
}
@media (hover: hover) and (pointer: fine) {
  .option-item:hover:not([disabled]) {
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    color: white;
  }
}
.option-item:disabled {
  border: 0.1rem solid #d7cfcd;
  background-color: transparent;
  color: #d7cfcd;
  cursor: not-allowed;
}
.option-letter {
  display: block;
  padding-right: 45px;
}
.option-text {
  min-width: 30%;
  display: block;
  text-align: left;
}
.correct-answer {
  color: white !important;
  background-color: var(--green) !important;
  border-color: var(--green) !important;
}
.wrong-answer {
  color: white !important;
  background-color: var(--red) !important;
  border-color: var(--red) !important;
}
.next-btn {
  position: absolute;
  bottom: 2%;
  right: 4%;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  background-color: var(--yellow);
}
.party-img {
  width: 300px;
  height: 300px;
  position: absolute;
  top: 5%;
}
.party-img-link {
  width: 100%;
  height: 100%;
}
.result {
  position: absolute;
  top: 52%;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: var(--darkBlue);
}
.result-txt {
  position: absolute;
  top: 66%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  color: var(--darkBlue);
}
.result-score {
  font-size: 30px !important;
  font-weight: bold !important;
  color: var(--green) !important;
}
.try-btn {
  position: absolute;
  top: 75%;
  padding: 12px 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border: none;
  border-radius: 5px;
  transition-duration: 0.4s;
  text-transform: capitalize;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid var(--darkBlue);
  color: var(--darkBlue);
}
@media (hover: hover) and (pointer: fine) {
  .try-btn:hover {
    color: white;
    background-color: var(--darkBlue);
  }
}
.error-pg {
  min-width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.error-btn {
  padding: 12px 30px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border: none;
  border-radius: 5px;
  transition-duration: 0.4s;
  text-transform: capitalize;
  cursor: pointer;
  color: white;
  background-color: var(--red);
}
@media screen and (max-width: 1024px) {
  .get-started-container,
  .quiz-container {
    min-width: 100vw;
    height: 100vh;
    margin-top: 70px;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
  }
  .get-started,
  .quiz {
    height: 550px;
  }

  /*  */
  .start-title,
  .travel-img,
  .start-btn {
    position: static;
  }
  .travel-img {
    width: 250px;
    height: 250px;
  }
  .start-btn {
    margin-top: 50px;
  }
  /*  */
  .quiz-header {
    top: -8%;
  }
  .quiz-icon {
    width: 130px;
    height: 130px;
  }
  .quiz-icon-link {
    width: 100%;
    height: 100%;
  }
  .quiz-form {
    height: 350px;
    top: 20%;
  }
  .question {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: normal;
  }
  .party-img {
    width: 280px;
    height: 280px;
  }

  .result {
    top: 50%;
  }

  .result-txt {
    top: 64%;
  }
  .try-btn {
    top: 74%;
  }
}
